* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
section .nav {
    position: absolute;
    top: 0;
}
.search {
    min-height: 100vh;
    background-image: url(images/iphone.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}
button {
    transition: 0.3s;
}
#phone-detail {
    margin: 20px 0;
}
